<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{token}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Construcción y reformas de viviendas en Medellín, Antioquia">
    <meta name="author" content="Mauro Aguilar Bustamante">
    <meta name="keywords" content="construccion, reformas, vivienda, medellin, Aguilar, mejora">
    <meta name="og:title" content="Construccion y Reformas de Vivienda - Construcciones Aguilar">
    <meta name="og:description" content="Somos un grupo de personas independientes dedicadas a la construcción y reforma de viviendas en Medellín, Antioquia.">
    <title>Construcción y Reformas de Vivienda en Medellín, Antioquia</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="site">
        <header class="site-header salmon">
            <div class="branding">
                <div class="branding__logo">
                    <div>Aguilar</div>
                    <div>Construcciones y Reformas</div>
                </div>
            </div>
            <nav class="site-nav container">
                <ul class="nav-list">
                    {{#each navlist}}
                        {{#if active}}
                            <li><a class="link" href="{{href}}">{{name}}</a></li>
                        {{else}}
                            <li><a href="{{href}}">{{name}}</a></li>
                        {{/if}}
                    {{/each}}
                    {{#if loggedIn}}
                        <li><a href="/auth/logout" class="ui-interaction">Salir</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <div class="site-main container">
            <div class="page">

                {{{body}}}

            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <a class="site-link" href="/">
                <div class="branding">
                    <div class="branding__logo">
                        <div>Aguilar</div>
                        <div>
                            <div>Construcciones y Reformas</div>
                            <div class="copyright"><i class="fa fa-copyright"></i> 2017</div>
                        </div>
                    </div>
                </div>
            </a>

            <ul class="list">
                <li><a href="/services" class="link">Servicios</a></li>
                <li><a href="/blog" class="link">Blog</a></li>
                <li><a href="/contact" class="link">Contacto</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="/vendor/jquery.js"></script>
    <script type="text/javascript" src="/vendor/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
